.counter-group {
    border:1px solid black;
    margin-bottom:10px;
}

.counter-group-instructions {
    text-align:left;
    width:90%;
}

.counter-group-counters {
    display:flex;
    flex-direction:row;
}

.counter-group-counter {
    text-align: center;
}

.counter-group-header {
    border-bottom:1px solid white;
    text-align:right;

    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
}

.counter-group-header-id {
    flex-grow: 1;
    background:lightgray;
    text-align: left;
}

.counter-group-header-id-selected {
    flex-grow: 1;
    background:darkgray;
    text-align: left;
}

