.dropdown-menu-button {
    color: white;
    padding: 5px;
    font-weight: bold; 
    cursor: pointer;
  }
  

.dropdown-menu {
    position: relative;
    display: inline-block;
    margin-left:5px;
}

.dropdown-menu-content {
    text-align: left;
   display: none;
   position: absolute;
   background-color: lightgrey;
   min-width: 80px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}
  
.dropdown-menu-content a {
   color: black;
   padding: 5px 8px;
   text-decoration: none;
   display: block;
}
  
.dropdown-menu-content a:hover {background-color: #f1f1f1}
  
.dropdown-menu:hover .dropdown-menu-content {
   display: block;
}
  
.dropdown-menu:hover .dropdown-menu-button {
   background-color: lightgray;
   color:black;
}